
/*SELFWORK COMPONENTI  */
body{
  margin: 0;
  background-color: bisque;
}
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 100%;
  height: 100px;
  background-color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  font-size: 30px;
  font-weight: bold;
  z-index: 1000;
}
.navbar >a{
  text-decoration: none;
  color: rgb(241, 10, 241);
}


.header{
  padding-top: 100px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  letter-spacing: 0.2em;
  color: rgb(241, 10, 241);

}

.ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-size: xx-large;
}
/*SELFWORK COMPONENTI END  */





































